---js
const eleventyNavigation = {
	key: "Info",
	order: 1
};
---

# Laboratorio de Interacción Digital

Sitio web del Laboratorio de Interacción Digital de la Universidad Diego Portales, abreviado como LID UDP.

Este laboratorio está en la Facultad de Arquitectura, Arte y Diseño, es liderado desde 2024 por Aarón Montoya, profesore asistente de diseño, donde se apoyan las labores de académiques, estudiantes y residentes de investigación en los ámbitos disciplinares de diseño de interacción, interfaces humano computador, diseño de máquinas electrónicas, y a estudiantes de pregrado de la nueva mención de diseño de interacción digital, y cursos de programación afines de nuestra Facultad.

Este espacio es un lugar para programar, soldar, parametrizar, y hacer deployments.


## Créditos

* Programación: Aarón Montoya
* Gráficas: Mateo Arce

